.header {
  text-align: center;
  margin-top: 1rem;
}

.header__logo {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}

.header__logo a {
  text-decoration: none;
}

.header__logoSmall {
  font-size: 1.4rem;
  vertical-align: top;
}

.header__nav {
  margin-top: 3rem;
  font-family: var(--sub-font);
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  transition: all 0.2s ease;
}

.header__item {
  text-transform: uppercase;
  margin: 0 1.2rem;
  font-size: 1.7rem;
}

.header__item a {
  text-decoration: none;
  font-weight: 500;
}

.openNav {
  margin-top: 1rem;
  margin-right: 2rem;
  justify-content: flex-end;
  display: none;
}

.openNav img {
  width: 3rem;
}

@media all and (max-width: 600px) {
  .header {
    margin-top: 1rem;
  }

  .header__logo {
    font-size: 3rem;
    line-height: 3rem;
  }

  .header__nav {
    margin-top: 2rem;
  }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .header__item {
    text-transform: uppercase;
    margin: 0 0.5rem;
    font-size: 1.4rem;
  }

  .header__item a {
    text-decoration: none;
  }
}

@media all and (max-width: 400px) {
  .header__list {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start;
    width: 100%;
  }

  .header__item {
    flex-basis: 50%;
    margin: 0;
    margin: 0.75rem 0;
  }
}
