.search {
  max-width: 118rem;
  margin: auto;
  overflow: hidden;
  margin-top: 3rem;
}

.search__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.search__title {
  margin: 4rem 0 3rem 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: var(--nav-font);
}

.search__form {
  height: 100%;
}

.search__formWrapper {
  position: relative;
  width: 49rem;
  height: 4rem;
}

.search__formWrapper::before {
  content: ' ';
  position: absolute;
  left: -50rem;
  top: 50%;
  background: rgb(246, 244, 244);
  height: 0.2rem;
  width: 50rem;
  display: block;
}

.search__formWrapper::after {
  content: ' ';
  position: absolute;
  right: -50rem;
  top: 50%;
  background: rgb(246, 244, 244);
  height: 0.2rem;
  width: 50rem;
  display: block;
}

.search__form input {
  width: 85%;
  height: 100%;
  padding-left: 1rem;
  outline: none;
  border: 1px solid rgb(236, 232, 232);
  font-family: inherit;
  font-size: 1.6rem;
}

.search__formButton {
  width: 15%;
  background: var(--bg-nav);
  border: none;
  color: #fff;
  height: 100%;
}

.search__result {
  min-height: 40vh;
}

.search__resultItem {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 2.3rem 0;
  border-bottom: 1px solid rgb(245, 244, 244);
}

.search__resultInfo {
  flex: 1;
}

.search__resultImg {
  flex-basis: 30%;
  margin-left: 5rem;
}

.sarch__resultAuthor {
  color: var(--color-font-red);
  font-size: 1.3rem;
  display: inline-block;
  padding-bottom: 1.25rem;
}

.sarch__resultTitle {
  font-size: 2.6rem;
  line-height: 3.2rem;
  padding-bottom: 1.5rem;
}

.sarch__resultParagraph {
  font-size: 1.6rem;
  line-height: 2.3rem;
  padding-bottom: 2rem;
}

.sarch__resultDate {
  font-family: var(--nav-font);
  font-size: 1.3rem;
}
