.register__header {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.register__logo {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 0.5rem;
}

.register__logo a {
  text-decoration: none;
}

.register__logoSmall {
  font-size: 1rem;
  vertical-align: top;
}

.register__content {
  background: var(--bg-register);
  min-height: 70vh;
  text-align: center;
  overflow: auto;
}

.register__contentInner {
  max-width: 48rem;
  margin: 8rem auto;
}

.register__content h1 {
  text-transform: uppercase;
  font-size: 2.6rem;
  text-align: 1;
  margin-bottom: 1.5rem;
  font-family: var(--nav-font);
}

.register__content span {
  font-size: 1.6rem;
}

.register__form {
  background: #fff;
  margin-top: 4rem;
  padding: 2rem;
  text-align: left;
}

.register__form label {
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 0.75rem;
}

.register__form input {
  width: 100%;
  font-size: 1.6rem;
  height: 5rem;
  border-radius: 3px;
  font-family: inherit;
}

.register__form input[type='email'] {
  padding-left: 1.5rem;
}

.register__form input:focus {
  outline: none;
}

.register__form input[type='button'] {
  margin-top: 3rem;

  background: #1a1a1a;
  color: #fff;
  outline: none;
  border: none;
}

@media all and (max-width: 500px) {
  .register__form input[type='button'] {
    margin-top: 2rem;
  }

  .register__content h1 {
    font-size: 2.2rem;
  }

  .register__content span {
    font-size: 1.4rem;
  }
}
