.offer {
  max-width: 80rem;
  max-height: 24rem;
  margin: 4rem auto 0 auto;
  background: var(--bg-offer);
}

.offer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__img {
  height: 10rem;
  width: 15rem;
}

.offer__img img {
  height: 100%;
  object-fit: cover;
}

.offer__catch {
  padding-left: 3rem;
  font-size: 2rem;

  line-height: 3rem;
}
