.offer {
  max-width: 80rem;
  max-height: 24rem;
  margin: 4rem auto 0 auto;
  padding: 2rem 0;
  background: var(--bg-offer);
}

.offer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__img {
  height: 10rem;
  width: 15rem;
}

.offer__img img {
  height: 100%;
  object-fit: cover;
}

.offer__catch {
  padding-left: 3rem;
  font-size: 2rem;

  line-height: 3rem;
}

.offer__content {
  padding-right: 2rem;
}

.offer__content a {
  padding: 0.75rem 2rem;
  background: #282828;
  color: #fff;
  display: inline-block;
  margin: 1rem 0;
  text-decoration: none;
}

.offer__content small {
  display: block;
}

@media all and (max-width: 600px) {
  .offer__catch {
    padding-left: 3rem;
    font-size: 1.7rem;

    line-height: 2.5rem;
  }
}

@media all and (max-width: 400px) {
  .offer__inner {
    flex-direction: column;
  }

  .offer__img {
    display: none;
  }

  .offer__content {
    padding-right: 0;
    text-align: center;
  }

  .offer__content p {
    margin-top: 1rem;
  }

  .offer__content small {
    display: none;
  }
}
