.category__header {
  font-size: 4rem;
  font-family: var(--nav-font);
  text-transform: uppercase;
  position: relative;

  display: inline-block;
}

.category__headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 4rem;
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.category__header::before {
  content: ' ';
  position: absolute;
  left: -100rem;
  top: 50%;
  background: rgb(246, 244, 244);
  height: 0.2rem;
  width: 98rem;
  display: block;
}

.category__header::after {
  content: ' ';
  position: absolute;
  right: -100rem;
  top: 50%;
  background: rgb(246, 244, 244);
  height: 0.2rem;
  width: 98rem;
  display: block;
}

.category__listWrapper {
  max-width: 140rem;
  margin: auto;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
}

.category__item {
  flex-basis: 33.3%;
  padding: 0 3rem 2rem 3rem;
}
.category__item:not(:nth-child(3n + 4)) {
  border-left: 1px solid var(--border);
}

.category__item a {
  text-decoration: none;
}

.category__img {
  height: 20rem;
}

.category__img img {
  height: 100%;
  object-fit: cover;
}

.category__news {
}

.category__newsInfo {
}

.category__newsInfo h2 {
  font-size: 2.3rem;
}

.category__newsDate {
  color: var(--color-font-red);
  font-size: 1.4rem;
  margin: 1.3rem 0;
  display: inline-block;
}

.category__newsAuthor {
  font-size: 1.4rem;
  margin-top: 0.75rem;
  display: inline-block;
}

@media all and (max-width: 850px) {
  .category__header {
    font-size: 3rem;
  }

  .category__item {
    flex-basis: 50%;
  }

  .category__img {
    height: 20rem;
  }

  .category__img img {
    height: 100%;
    object-fit: cover;
  }

  .category__newsInfo h2 {
    font-size: 2rem;
  }

  .category__newsDate {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 580px) {
  .category__header {
    font-size: 2.5rem;
  }

  .category__item {
    flex-basis: 100%;
  }

  .category__img {
    height: 20rem;
  }

  .category__newsInfo h2 {
    font-size: 1.8rem;
  }

  .category__newsDate {
    font-size: 1.3rem;
  }
}
