@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Martel:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: var(--main-font);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

nav {
  font-size: 1.8rem;
}

.wrapper {
  max-width: 118rem;
  margin: auto;
}

.marginTop {
  margin-top: 8rem;
}

img {
  width: 100%;
  display: block;
}

a {
  color: var(--color-font-black);
}

li {
  list-style: none;
}

.notFound {
  font-size: 2.3rem;
  margin-top: 3rem;
}

small {
  font-family: var(--sub-font);
}

:root {
  /* --main-font: 'Sawarabi Mincho', sans-serif; */
  --sub-font: 'Raleway', sans-serif;
  --nav-font: 'Poppins', sans-serif;
  /* --main-font: 'Prata', serif; */
  /* --main-font: 'Public Sans', sans-serif; */
  /* --main-font: 'EB Garamond', serif; */
  /* --main-font: 'Martel', serif; */
  --main-font: 'Noto Serif TC', serif;
  --color-font-black: #111;
  --color-font-red: #d0021b;
  --bg-offer: #ffe974;
  --bg-nav: #0787ca;
  --bg-register: #f5f5f5;

  --border: rgb(238, 238, 238);
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@media all and (max-width: 850px) {
  .marginTop {
    margin-top: 2rem;
  }
}
